* {
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --white: #FAF7F780;
    
    /* shades of pink */
    --pink-1: #fcdfec;
    --pink: #F5C7F3;
    --pink2: #e2a7f1;
    --pink3: #ca78de;

    --pink4: #8b439d;
    --pink5: #3f2d43;

}   

#background {
   margin-left: -8px;
   display: block;
   width: 100%;
   height: 100%;
   top: 0;
   z-index: 1;
   position: absolute;
   background-size: 100% 150%;
   background-repeat: no-repeat;
   background-position: center center;
   background-color: var(--pink);
   background-image: url("data:image/svg+xml;charset=utf8,%3C%21--%20%28c%29%20Carrd%20Inc.%20All%20rights%20reserved.%20--%3E%0A%3Csvg%20width%3D%22640%22%20height%3D%22480%22%20viewBox%3D%220%200%20640%20480%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20preserveAspectRatio%3D%22none%22%3E%0A%09%3Cstyle%3E%0A%09%09line%20%7B%0A%09%09%09stroke%3A%20%23FAF7F780%3B%0A%09%09%09stroke-width%3A%201.01px%3B%0A%09%09%09vector-effect%3A%20non-scaling-stroke%3B%0A%09%09%7D%0A%09%3C/style%3E%0A%09%3Cline%20x1%3D%22640.08%22%20y1%3D%22242.0103%22%20x2%3D%22629.9606%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22640.9808%22%20y1%3D%22249.2743%22%20x2%3D%22598.9646%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22642.1139%22%20y1%3D%22258.4121%22%20x2%3D%22567.9685%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22643.5825%22%20y1%3D%22270.2558%22%20x2%3D%22536.9724%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22645.5617%22%20y1%3D%22286.2164%22%20x2%3D%22505.9764%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22648.3735%22%20y1%3D%22308.8922%22%20x2%3D%22474.9803%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22652.6836%22%20y1%3D%22343.65%22%20x2%3D%22443.9843%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22660.124%22%20y1%3D%22403.6525%22%20x2%3D%22412.9882%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22648.2466%22%20y1%3D%22504.4691%22%20x2%3D%22381.9921%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22484.1233%22%20y1%3D%22504.4691%22%20x2%3D%22350.9961%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22320.0%22%20y1%3D%22504.4691%22%20x2%3D%22320.0%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22155.8767%22%20y1%3D%22504.4691%22%20x2%3D%22289.0039%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22-8.2466%22%20y1%3D%22504.4691%22%20x2%3D%22258.0079%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22-20.124%22%20y1%3D%22403.6525%22%20x2%3D%22227.0118%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22-12.6836%22%20y1%3D%22343.65%22%20x2%3D%22196.0157%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22-8.3735%22%20y1%3D%22308.8922%22%20x2%3D%22165.0197%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22-5.5617%22%20y1%3D%22286.2164%22%20x2%3D%22134.0236%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22-3.5825%22%20y1%3D%22270.2558%22%20x2%3D%22103.0276%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22-2.1139%22%20y1%3D%22258.4121%22%20x2%3D%2272.0315%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22-0.9808%22%20y1%3D%22249.2743%22%20x2%3D%2241.0354%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22-0.08%22%20y1%3D%22242.0103%22%20x2%3D%2210.0394%22%20y2%3D%22240.0%22%20/%3E%0A%09%3Cline%20x1%3D%22-0.6801%22%20y1%3D%22246.8498%22%20x2%3D%22640.6801%22%20y2%3D%22246.8498%22%20/%3E%0A%09%3Cline%20x1%3D%22-1.6678%22%20y1%3D%22254.8144%22%20x2%3D%22641.6678%22%20y2%3D%22254.8144%22%20/%3E%0A%09%3Cline%20x1%3D%22-2.9156%22%20y1%3D%22264.8773%22%20x2%3D%22642.9156%22%20y2%3D%22264.8773%22%20/%3E%0A%09%3Cline%20x1%3D%22-4.542%22%20y1%3D%22277.9936%22%20x2%3D%22644.542%22%20y2%3D%22277.9936%22%20/%3E%0A%09%3Cline%20x1%3D%22-6.7503%22%20y1%3D%22295.8015%22%20x2%3D%22646.7503%22%20y2%3D%22295.8015%22%20/%3E%0A%09%3Cline%20x1%3D%22-9.9204%22%20y1%3D%22321.3667%22%20x2%3D%22649.9204%22%20y2%3D%22321.3667%22%20/%3E%0A%09%3Cline%20x1%3D%22-14.856%22%20y1%3D%22361.169%22%20x2%3D%22654.856%22%20y2%3D%22361.169%22%20/%3E%0A%09%3Cline%20x1%3D%22-23.6008%22%20y1%3D%22431.691%22%20x2%3D%22663.6008%22%20y2%3D%22431.691%22%20/%3E%0A%09%3Cline%20x1%3D%220.0%22%20y1%3D%22240.0%22%20x2%3D%22640.0%22%20y2%3D%22240.0%22%20/%3E%0A%3C/svg%3E");;
}



solid {
    border-top: 1px solid #0a0a0a3f
}

/* .flex-wow {
    display: flex;
    flex-direction: column;
    height: 100%;
}
*/

/* .window.documents {
    width: 50%;
    min-width: 50%;
    left: 40%;
    margin-top: 0;
    position: absolute;
    top: 14rem;
    height: 20rem;
    min-height: 20rem;
} */

#links-window {
    position: absolute;
    top: 50%;
    left: 71%;
}

#open-window {
    position: absolute;
    top: 35%;
    left: 65%;
}

#music-window {
    position: absolute;
    top: 40%;
    left: 15%;
}

div.centered {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}
